.container {
    background-color: blueviolet;
    width: 100%;
    display: flex;
}

button {
    width: 20vh;
    height: 20vh;
    border-radius: 5px;
    border: none;
}

img {
    width: 15vh;
    height: 15vh;
}

section {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}