.usuarios {
    margin-left: 10px;
}

.user {
    visibility: hidden;
    box-shadow: 0.3px 0.5px 15px 8px #83B2F9;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    align-content: center;
    margin-top: 30px;
    width: 90%;
}

.user:hover {
    background-color: white;
    opacity: 0.8;
    color: white;
}

#naoEncontrou {
    visibility: hidden;
    box-shadow: 0.3px 0.5px 15px 8px #83B2F9;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    width: 90%;
    color: white;
    background-color: black;
}